.botonCorreo{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #d60202;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    position: relative;
    top: 100px;
    left: -160px;

 
  }
 
p.introCorreo{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 2000;
    font-size: 25px;
    color: #000000;
    position: relative;
    left: 30px;

  }

  .emailCorreo{
    position: relative;
    left: 30px;
    border-color: black;


  }