/* HEADER*/

i.fab fa-pied-piper-alt {
  position: relative;
  top: 0px;
  left: 30px;
  overflow-y: hidden;
  height: 60px;
  width: 1500px;
}

p.logo_empresa {
  height: 60px;
  width: 1500px;
}

header.cabeceraPortada {
  background-image: url(https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1500px;
  overflow: hidden;
}

img.registroLogoP1 {
  position: relative;
  top: -20px;
  left: -10px;
  overflow-y: hidden;
}

img.registroLogoP1 {
  position: relative;
  top: -20px;
  left: -10px;
  overflow-y: hidden;
}

.tituloenlaceP1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 25px;
  top: -30px;
  text-decoration: none;
  overflow-y: hidden;
}

h2 {
  padding: 0px;
  color: #1c3d79;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

li:hover a {
  color: rgb(6, 6, 7);
  overflow-y: hidden;
}

.nav {
  float: right;
  margin-top: -10px;
}

.a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #fff4f4;
}

li {
  list-style: none;
  margin-right: 2rem;
}

.logo_empresa {
  margin-left: 2rem;
  text-decoration: none;
  font-size: 40px;
  color: #36ac42;
}

a.tituloenlaceP1 {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #ffffff;
  float: left;
}

.container-header {
  width: 95%;
}

ul {
  margin: 0 !important;
}

h1 {
  margin: 0 !important;
}