.button-box {
  width: 100%;
  height: 100%;
  margin: 8px;
  /*background-color: rgb(42,141,209);*/
  background: linear-gradient(#429ed6, #2481c6);
  border: none;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .15);
  color: white;
  overflow: hidden;
}

.alterna {
  background: linear-gradient(white, rgb(235, 235, 235));
  color: #2481c6;
}

button div {
  text-align: center;
  margin-top: 10px;
}

button:hover {
  opacity: .8;
  box-shadow: none;
}

button:disabled {
  opacity: .5;
  box-shadow: none;
}

.line-break {
  width: 100%;
}

.button-div {
  width: 225px;
  height: 225px;
  padding: 10px;
}

.panel-de-botones {
  max-width: 100%;
}

.icono-index{
  font-size: 4rem !important;
}

.text-index{
  font-size: 2rem !important;
}