.navbar-nav .nav-item {
    padding: 0 .5rem;
}

.color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: .5rem;
}

.input-buttton {
    float: right;
    margin-top: auto;
    margin-right: auto;
    margin-left: 180px;
    position: absolute;
}

table {
    overflow: scroll;
}

.table-deustronic th {
    color: #949494;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: 2px solid #dee2e6;
    font-family: FiraSans-Regular, Calibri, Verdana;
    text-align: center !important;
}

.bordertop-0 th {
    border-top: 0;
}

.table-deustronic td {
    font-size: 14px;
    padding: 0.5rem;
    text-align: center !important;
    cursor: pointer !important;
}

.table-navbar {
    position: sticky;
    background-color: white;
    z-index: 1;
    top: 0;
    width: 100%;
}

.c-grey {
    color: silver !important;
}

.boton-nav {
    width: 7rem;
    height: 3.2rem !important;
    color: white !important;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    outline-style: none;
}

.nav-footer {

    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}