.navbar-nav .nav-item {
    padding: 0 .5rem;
}

.color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: .5rem;
}

.input-buttton {
    float: right;
    margin-top: auto;
    margin-right: auto;
    margin-left: 180px;
    position: absolute;
}

.c-grey {
    color: silver !important;
}

.boton-nav {
    width: 7rem;
    height: 3.2rem !important;
    color: white !important;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    outline-style: none;
}

.nav-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.bt-0 {
    border-top: none !important;
}

.imagen {
    width: 100%;
    height: 100%;
}

.imagen-bg{
    background-image: url("../img/bg_create_producto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    /*fuerza que tome todo el espacio disponible guardando proporciones*/
    height: 100vh;
    /*detecta el tamaño de la pantalla y lo ajusta*/
    min-height: 80rem;
}