<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static '/style/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/productos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/modal.css' %}">

    <title>Document</title>
</head>


<header class="cabeceraPortada">
    <div class="container-header row justify-content-between align-items-center my-2">
        <div class="col-3 d-flex align-items-center">
            <i class="fab fa-pied-piper-alt logo_empresa"></i>
            <h1><a class="tituloenlaceP1" href="http://127.0.0.1:8000/appEntrega/"> DEUTRONIC
                </a></h1>
        </div>
        <nav>
            <ul class="col-8 d-flex">
                <li><a class="a" href=""><i class="fas fa-question"></i></a></li>
                <li><a class="a" href=""><i class="fas fa-envelope-open-text"></i></a></li>
                <li><a class="a" href=""><i class="far fa-bell"></i></a></li>
                <li><a class="a" href=""><i class="fas fa-user"></i></a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>

<body>
    <script src="{% static '/js/bundle.js' %}"></script>
</body>

</html>