<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static '/style/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/productos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/style/header.css' %}">




    <title>Document</title>
</head>


    <header class="cabeceraPortada">
    
        <a class = "logo_empresa"><i class="fab fa-pied-piper-alt" ></i> </a>
    
        <a class="tituloenlaceP1" href= "C:\ingenieria_web_programas\IEmpresa\appEntrega\templates\index.html" > UD COMPANY </a>
        <nav>
            
            <ul>    
    
                <li><a href= "" > <i class="fas fa-question"></i></li>
                <li><a href= "" > <i class="fas fa-envelope-open-text"></i></li>
                <li><a href= "" > <i class="far fa-bell"></i></li>

                <li><a href= "" > 
                    <i class="fas fa-user"></i>    
                </a></li>
            </ul>
        </nav>
    
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <body>
    <script src="{% static '/js/bundle.js' %}"></script>
</body>

</html>