{% extends 'detalleCliente.html'%}
{% block deleteCliente %}

<div class="modale" id="modal1" id="delete-modal">
    <div class="modale-dialog">
        <header class="modale-header">
            <h4 class="modale-title text-center">¿Desea eliminar el cliente?</h4>
            <button class="z-100 close" data-dismiss="modale" aria-label="Cerrar"><span
                    aria-hidden="true">&times;</span></button>
        </header>
        <section class="modale-content">
            <form id="deleteProduct" method="post">
                {% csrf_token %}
                <p>Se eliminará de manera permanente {{cliente.nombre_cliente}}</p>
            </form>
        </section>
        <footer class="d-flex justify-content-between">
            <button type="submit" form="deleteProduct" value="Confirm"
                class="z-100 btn boton-nav btn-danger m-2 mx-4">Eliminar
            </button>
            <button class="z-100 btn boton-nav btn-secondary m-2 mx-4"
                onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/'">Cancelar
            </button>
        </footer>
    </div>
</div>
{% endblock %}