{% extends 'detalleProducto.html' %}
{% block deleteModal %}
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-4 d-flex align-items-center">
                <h4 class="modal-title text-center">¿Desea eliminar el producto?</h4>
                <button class="close" data-dismiss="modal" aria-label="Cerrar"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body p-5">
                <form id="deleteProduct" method="post">
                    {% csrf_token %}
                    <p>Se eliminará de manera permanente {{producto.producto_nombre}}</p>
                </form>
            </div>
            <div class="modal-footer bt-0 row justify-content-between">
                <button type="submit" form="deleteProduct" value="Confirm"
                    class="btn boton-nav btn-danger m-2 mx-4">Eliminar
                </button>
                <button class="btn boton-nav btn-secondary m-2 mx-4" data-dismiss="modal" aria-label="Cerrar">Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}