{% extends 'base.html' %}
{% block content %}

<h2>Enviar correo de contacto</h2> <br>
<form action="#" method="post" id="correo">
    {% csrf_token %}
    <strong>
        <label>
            <p class="introCorreo">Escribe tu correo aquí:</p>
        </label>
    </strong>
    <input class="emailCorreo" type="text" name="mail" id="mailInput" placeholder="ejemplo@gmail.com">

</form>

<nav class="navbar navbar-light bg-light fixed-bottom">
    <button class="btn boton-nav btn-primary m-2" type="submit" form="correo">Enviar</button>
    <button class="btn boton-nav btn-secondary m-2"
        onclick="location.href='http://127.0.0.1:8000/appEntrega/'">Vovler</button>
</nav>







{% endblock %}