{% extends 'base.html' %}
{% block content %}


<div class="contenedor my-3 row justify-content-around">

	<!--  PRODUCTO -->
	<div class="producto col-4">
		<h3 class="orange-color mt-3 mb-5">{{producto.producto_nombre}}</h3>

		{% if producto %}
		<form id="updateProduct" class="contenedor" action="" method="POST">{% csrf_token %}

			<!-- REFERENCIA PRODUCTO -->
			<div class="formulario__grupo mt-3 focus mb-5">
				<div class="formulario__grupo-label d-flex">
					<label for="referencia" class="formulario__label">
						<span class="formulario__span">Referencia Producto</span>
						<div class="formulario__grupo-input">
							<input autofocus="true" autocomplete="off" type="text" name="referencia" id="referencia"
								class="formulario__input" value="{{producto.producto_referencia}}">
						</div>
					</label>
				</div>
			</div>

			<!-- NOMBRE PRODUCTO -->
			<div class="formulario__grupo mt-3 focus mb-5">
				<div class="formulario__grupo-label d-flex">
					<label for="name" class="formulario__label">
						<span class="formulario__span">Nombre Producto</span>
						<div class="formulario__grupo-input">
							<input autofocus="true" autocomplete="off" type="text" name="name" id="name"
								class="formulario__input" value="{{producto.producto_nombre}}">
						</div>
					</label>
				</div>
			</div>

			<!-- DESCRIPCION PRODUCTO -->
			<div class="formulario__grupo mt-3 focus mb-5">
				<div class="formulario__grupo-label d-flex">
					<label for="descripcion" class="formulario__label">
						<span class="formulario__span">Descripción Producto</span>
						<div class="formulario__grupo-input">
							<input autofocus="true" autocomplete="off" type="text" name="descripcion" id="descripcion"
								class="formulario__input" value="{{producto.producto_descripcion}}">
						</div>
					</label>
				</div>
			</div>

			<!-- CATEGORIA PRODUCTO -->
			<div class="formulario__grupo mt-3 focus mb-5">
				<div class="formulario__grupo-label d-flex">
					<label for="categoria" class="formulario__label">
						<span class="formulario__span">Categoria Producto</span>
						<div class="formulario__grupo-input">
							<input autofocus="true" autocomplete="off" type="text" name="categoria" id="categoria"
								class="formulario__input" value="{{producto.producto_categoria}}">
						</div>
					</label>
				</div>
			</div>


			<!-- PRECIO PRODUCTO -->
			<div class="formulario__grupo mt-3 focus mb-5 m-footer">
				<div class="formulario__grupo-label d-flex">
					<label for="precio" class="formulario__label">
						<span class="formulario__span">Precio Producto</span>
						<div class="formulario__grupo-input">
							<input autofocus="true" autocomplete="off" type="text" name="precio" id="precio"
								class="formulario__input" value="{{producto.producto_precio}}">
						</div>
					</label>
				</div>
			</div>
		</form>
		{% else %}
		<p>No hay productos</p>
		{% endif %}
	</div>



	<!--  COMPONENTES -->
	<div class="componentes col-8">
		<h3 class="orange-color mt-3 mb-5">Componentes de {{producto.producto_nombre}}</h3>

		<table class="table-deustronic table table-striped table-hover">
			<thead>
				<tr>
					<th>CÓDIGO</th>
					<th>COMPONENTE</th>
					<th>UNIDADES</th>
					<th>DESCRIPCION</th>
					<th>PRECIO</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if lista_componentes %}
				{% for c in lista_componentes %}
				<tr ondblclick="location.href='http://127.0.0.1:8000/appEntrega/productos/{{producto.pk}}'">
					<td>
						{{c.componente_producto.producto_referencia}}
					</td>
					<td>{{c.componente_producto.producto_nombre}}</td>
					<td>{{c.componente_unidades}}</td>
					<td>{{c.componente_descripcion}}</td>
					<td>{{c.componente_producto.producto_precio}}</td>
					<td><button class="btn"
							onclick="location.href='http://127.0.0.1:8000/appEntrega/productos/componente/{{c.pk}}/delete/'"><i
								class="fas fa-trash-alt"></i></button></td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td colspan="6">
						<p>No existen componentes</p>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

{% block deleteProducto %}
{% endblock %}

{% block deleteComponente %}
{% endblock %}


<!--  NAVEGACIÓN FOOTER -->
<nav class="p-2 px-4 mt-5 navbar-light bg-light fixed-bottom z-2 m-footer">
	<div class="row justify-content-between">
		<div class="d-flex">
			<div class="form-inline ml-auto">
				<button type="submit" form="updateProduct" value="Update" class="btn boton-nav btn-primary m-2">Guardar
				</button>
			</div>
			<div class="form-inline ml-auto">
				<button type="button" class="btn boton-nav btn-danger m-2" data-toggle="modal"
					data-target="#delete-modal"
					onclick="location.href='http://127.0.0.1:8000/appEntrega/productos/{{producto.pk}}/delete/'">Eliminar
				</button>
			</div>
		</div>
		<div class="form-inline ml-auto">
			<button onclick="location.href='http://127.0.0.1:8000/appEntrega/productos'"
				class="btn boton-nav btn-secondary m-2" type="button">Volver</button>
		</div>
	</div>
</nav>

{% endblock %}