{% extends 'base.html' %}
{% block content %}


<div class="contenedor my-3 row justify-content-around">

	<div class="componentes col-8">
		<h3 class="orange-color mt-3 mb-5">Información del cliente: {{cliente.nombre_empresa}}</h3>

		<table class="table-deustronic table table-striped table-hover">
			<thead>
				<tr>
					<th>NOMBRE DE LA EMPRESA</th>
					<th>CIF</th>
					<th>EMAIL</th>
					<th>Nº TELEFONO</th>
					<th>RESPONSABLE dpto. COMPRAS</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if cliente %}
				<tr>
					<td>{{cliente.nombre_empresa}}</td>
					<td>{{cliente.cif}}</td>
					<td>{{cliente.email}}</td>
					<td>{{cliente.telefono}}</td>
					<td>{{cliente.nombre_cliente}}</td>
					<td><button class="btn"
							onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/{{cliente.pk}}/delete/'"><i
								class="fas fa-trash-alt"></i></button></td>
				</tr>
				{% else %}
				<tr>
					<td colspan="6">
						<p>No existen clientes</p>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

{% block deleteCliente %}
{% endblock %}

<nav class="p-2 px-4 navbar-light bg-light fixed-bottom z-2">
	<div class="row justify-content-between">
		<div class="d-flex">
			<div class="form-inline ml-auto">
				<button type="button" class="btn boton-nav btn-primary m-2">Guardar
				</button>
			</div>
			<div class="form-inline ml-auto">
				<button type="button" class="btn boton-nav btn-danger m-2" data-toggle="modal"
					data-target="#delete-modal"
					onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/{{cliente.pk}}/delete/'">Eliminar
				</button>
			</div>
		</div>
		<div class="form-inline ml-auto">
			<button onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes'"
				class="btn boton-nav btn-secondary m-2" type="button">Volver</button>
		</div>
	</div>
</nav>


{% endblock %}