{% extends 'base.html' %}
{% block content %}


<div class="contenedor my-3 row justify-content-around">
	<div class="producto col-4">
		<h3 class="orange-color mt-3 mb-5">{{factura.descripcion}}</h3>

		{% if factura %}
		<ul>
				<li>
					<p><strong>Referencia de la factura: </strong>{{factura.referencia}}</p>
				</li>
				<li>
					<p><strong>Descripción de la factura: </strong>{{factura.descripcion}}</p>
				</li>
				<li>
					<p><strong>Refrencia del producto: </strong>{{factura.producto_referencia}}</p>
				</li>
				<li>
					<p><strong>Producto: </strong>{{producto.producto_nombre}}</p>
				</li>
				<li>
					<p><strong>Unidades: </strong>{{factura.unidades}}</p>
				</li>
				<li>
					<p><strong>Pedido: </strong>{{factura.pedido_referencia}}</p>
				</li>
				<li>
					<p><strong>Precio: </strong>{{factura.linea_precio}}</p>
				</li>
		</ul>

	{% else %}
		<p>No hay facturas</p>
	{% endif %}
	
	</div>

	<div class="componentes col-8">
		<h3 class="orange-color mt-3 mb-5">Información de la factura {{factura.referencia}}</h3>

		<table class="table-deustronic table table-striped table-hover">
			<thead>
				<tr>
					<th>CÓDIGO FACTURA</th>
					<th>FACTURA</th>
					<th>CÓDIGO PRODUCTO</th>
					<th>UNIDADES</th>
					<th>PEDIDO</th>
					<th>PRECIO</th>
				</tr>
			</thead>
			<tbody>
				{% if factura %}
				{% for factura in lista_facturas %}
				<tr ondblclick="location.href='http://127.0.0.1:8000/appEntrega/facturas/{{factura.pk}}'">
					<td>{{factura.referencia}}</td>
					<td>{{factura.descripcion}}</td>
					<td>{{factura.producto_referencia}}</td>
					<td>{{factura.unidades}}</td>
					<td>{{factura.pedido_referencia}}</td>
					<td>{{factura.linea_precio}}</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td colspan="6">
						<p>No existen productos en la factura</p>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

{% block updateProduct %}
{% endblock %}

<nav class="p-2 px-4 navbar-light bg-light fixed-bottom">
	<div class="row justify-content-between">
		<div class="d-flex">
			<div class="form-inline ml-auto">
				<button type="button" class="btn boton-nav btn-primary m-2">Guardar
				</button>
			</div>
			<div class="form-inline ml-auto">
				<button type="button" class="btn boton-nav btn-danger m-2" data-toggle="modal"
					data-target="#delete-modal" onclick="location.href='http://127.0.0.1:8000/appEntrega/facturas/{{factura.pk}}/delete/'">Eliminar
				</button>
			</div>
		</div>
		<div class="form-inline ml-auto">
			<button onclick="location.href='http://127.0.0.1:8000/appEntrega/facturas'"
				class="btn boton-nav btn-secondary m-2" type="button">Volver</button>
		</div>
	</div>
</nav>

{% endblock %}