{% block content %}
	
	<h1> Detalle del pedido: {{pedido.pedido_referencia}}</h1>
	
	{% if pedido %}
		<ul>
				<li>
					<p><strong>Descripción del pedido: </strong>{{pedido.pedido_descripcion}}</p>
				</li>
				<li>
					<p><strong>Referencia del pedido: </strong>{{pedido.pedido_referencia}}</p>
				</li>
				<li>
					<p><strong>Fecha del pedido: </strong>{{pedido.pedido_fecha}}</p>
				</li>
				<li>
					<p><strong>Precio del pedido: </strong>{{pedido.pedido_precio}}</p>
				</li>
		</ul>

	{% else %}
		<p>No hay pedidos</p>
	{% endif %}
	
{% endblock %}