{% extends 'base.html' %}
{% block content %}

<div class="">
    <nav class="navbar navbar-light table-navbar">
        <h2 class="orange-color">Productos</h2>
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item ml-3">
                <i class="fas fa-plus-circle fa-lg c-grey"
                    onclick="location.href='http:'//127.0.0.1:8000/appEntrega/productos/nuevo/'"></i>
            </li>

            <li class="nav-item ml-3">
                <i class="fas fa-pen fa-lg c-grey"></i>
            </li>
            <li class="nav-item ml-3">
                <i class="fas fa-trash fa-lg c-grey"></i>
            </li>
        </ul>
    </nav>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table-deustronic table table-striped table-hover bordertop-0">
            <thead>
                <tr>
                    <th>CÓDIGO</th>
                    <th>PRODUCTO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>CATEGORIA</th>
                    <th>PRECIO</th>
                </tr>
            </thead>
            <tbody>
                {% if lista_productos %}
                {% for producto in lista_productos %}
                <tr ondblclick="location.href='http://127.0.0.1:8000/appEntrega/productos/{{producto.pk}}'">
                    <td>
                        {{producto.producto_referencia}}
                    </td>
                    <td>{{producto.producto_nombre}}</td>
                    <td>{{producto.producto_descripcion}}</td>
                    <td>{{producto.producto_categoria}}</td>
                    <td>{{producto.producto_precio}}</td>
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td colspan="5">
                        <p>No existen Productos</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom position-sticky">
    <div class="form-inline ml-auto">
        <button onclick="location.href='http://127.0.0.1:8000/appEntrega'"
            class="btn boton-nav btn-secondary m-2" type="button">Volver</button>

    </div>
</nav>

{% endblock %}