{% extends 'base.html' %}
{% block content %}

<div class="">
    <nav class="navbar navbar-light table-navbar">
        <h2 class="orange-color">Clientes</h2>
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item m-0 ml-3">
                <i class="fas fa-plus-circle fa-lg c-grey"
                    onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/nuevo/'"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table-deustronic table table-striped table-hover">
            <thead>
                <tr>
                    <th>NOMBRE DE LA EMPRESA</th>
                    <th>CIF</th>
                    <th>EMAIL</th>
                    <th>Nº TELEFONO</th>
                    <th>RESPONSABLE dpto. COMPRAS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if lista_clientes %}
                {% for cliente in lista_clientes %}
                <tr ondblclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/{{cliente.pk}}/editar'">
                    <td><p>{{cliente.nombre_empresa}}</p></td>
                    <td>{{cliente.cif}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.nombre_cliente}}</td>
                    <td><button class="btn"
                            onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/{{cliente.pk}}/delete/'"><i
                                class="fas fa-trash-alt"></i></button></td>
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td colspan="5">
                        <p>No existen Clientes</p>
                    </td>
                    <td><i class="fas fa-plus-circle fa-lg c-grey"
                        onclick="location.href='http://127.0.0.1:8000/appEntrega/clientes/nuevo/'"></i></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="form-inline ml-auto">
        <button onclick="location.href='http://127.0.0.1:8000/appEntrega'" class="btn boton-nav btn-secondary m-2"
            type="button">Volver</button>

    </div>
</nav>

{% endblock %}