{% block content %}
<h1> Listado de productos</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table-ukabi table table-striped table-hover bordertop-0">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>categoria</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in lista_productos %}
                <tr>
                    <td><a
                            href="http://127.0.0.1:8000/appEntrega/productos/{{producto.pk}}">{{producto.producto_referencia}}</a>
                    </td>
                    <td>{{producto.producto_nombre}}</td>
                    <td>{{producto.producto_descripcion}}</td>
                    <td>{{producto.producto_categoria}}</td>
                    <td>{{producto.producto_precio}}</td>
                </tr>
                {% endfor %}
            </tbody>

            {% if lista_productos %}
            {% for producto in lista_productos %}
            <li>
                <a href="http://127.0.0.1:8000/appEntrega/productos/{{producto.pk}}">{{producto.producto_nombre}}</a>
            </li>
            {% endfor %}

            </ul>
            {% else %}

            {% endif %}
        </table>
    </div>
</div>

{% endblock %}