{% extends 'base.html' %}
{% block content %}

<div class="">
    <nav class="navbar navbar-light table-navbar">
        <h2 class="orange-color">Componentes</h2>
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item m-0 ml-3">
                <i class="fas fa-plus-circle fa-lg c-grey"
                    onclick="location.href='http://127.0.0.1:8000/appEntrega/componentes/nuevo/'"></i>
            </li>
            <li class="nav-item m-0">
                <i class="fas fa-pen fa-lg c-grey"></i>
            </li>
            <li class="nav-item m-0">
                <i class="fas fa-trash fa-lg c-grey"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table-deustronic table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRODUCTO PADRE</th>
                    <th>PRODUCTO HIJO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>UNIDADES</th>
                </tr>
            </thead>
            <tbody>
                {% if lista_componentes %}
                {% for comp in lista_componentes %}
                <tr ondblclick="location.href='http://127.0.0.1:8000/appEntrega/componentes/{{comp.pk}}/editar'">
                    <td>{{comp.pk}}</td>
                    <td>{{comp.componente_producto_padre.producto_nombre}}</td>
                    <td>{{comp.componente_producto.producto_nombre}}</td>
                    <td>{{comp.componente_descripcion}}</td>
                    <td>{{comp.componente_unidades}}</td>

                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td colspan="5">
                        <p>No existen Componentes</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <p>nota: doble click para acceder a detalle</p>
    </div>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="form-inline ml-auto">
        <button onclick="location.href='http://127.0.0.1:8000/appEntrega'" class="btn boton-nav btn-secondary m-2"
            type="button">Volver</button>

    </div>
</nav>

{% endblock %}