{% extends 'base.html' %}
{% block content %}

<body>
    <div class="row contenedor justify-content-center m-footer mt-3">
        <div class="form col-6">
            <form id="newFactura" action="{% url 'factura_form' %}" method="POST">{% csrf_token %}
                {% include "forms.html"%}
            </form>
        </div>
    </div>

    <nav class="navbar navbar-light bg-light fixed-bottom position-sticky">
        <div class="d-flex justify-content-around">
            <div class="form-inline ml-auto">
                <button type="submit" form="newFactura" class="btn boton-nav btn-primary m-2">Guardar
                </button>
            </div>
        </div>
        <div class="form-inline ml-auto">
            <button onclick="location.href='http://127.0.0.1:8000/appEntrega/facturas'"
                class="btn boton-nav btn-secondary m-2" type="button">Volver</button>
        </div>
    </nav>
{% endblock %}