{% extends 'base.html' %}
{% block content %}
<div class="contenedor mt-3" id="settings">
    <p>Tamaño de fuente:
    <p>
        <button class="btn btn-primary" id="subirBtn">A<sup>+</sup></button>
        <button class="btn btn-primary" id="bajarBtn">A<sup>-</sup></button>
        <br><br>

    <p>Color del fondo
    <p>
        <button class="btn btn-primary " type="button" onclick="fondoBlanco()">Fondo Blanco</button>
        <button class="btn btn-primary " type="button" onclick="fondoNegro()">Fondo Oscuro</button>
        <br><br>

    <nav class="navbar navbar-light bg-light fixed-bottom">
        <div class="form-inline ml-auto">
            <button onclick="location.href='http://127.0.0.1:8000/appEntrega'"
                class="btn boton-nav btn-secondary m-2 z-2" type="button">Volver</button>

        </div>
    </nav>
</div>
{% endblock %}