{% extends 'detalleFactura.html' %}
{% block updateFactura %}
<form action="" id="updateFactura" method="POST">{% csrf_token %}
    {% for field in form %}
    <div class="formulario__grupo mt-3 focus mb-5">
        <div class="formulario__grupo-label d-flex">
            <label for="referencia" class="formulario__label">
                <span class="formulario__span">{{ field.label_tag }}</span>
                <div class="formulario__grupo-input">
                  {{field}}
                </div>
            </label>
            <p class="formulario__p text-muted">{{ field.errors }}</p>
        </div>
    </div>
    {% endfor %}
</form>
<div class="m-footer"></div>
{% endblock %}