{% extends 'detalleCliente.html' %}
{% block updateCliente %}
<form action="" id="updateCliente" method="POST">{% csrf_token %}
    {% for field in form %}
    <div class="formulario__grupo mt-3 focus fixed mb-5">
        <div class="formulario__grupo-label d-flex">
            <label for="referencia" class="formulario__label">
                <span class="formulario__span">{{ field.label_tag }}</span>
                <div class="formulario__grupo-input">
                    {{field}}
                    <i class="fas formulario__i"></i>
                </div>
            </label>
        </div>
        <p class="formulario__p text-muted mb-0">Por favor, asegurese de introducir el campo correctamente</p>
    </div>
    {% endfor %}
</form>
<div class="m-footer"></div>
{% endblock %}