{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center m-3">
    <form class="col-6" id="updateComponente" method="POST">{% csrf_token %}
        {% for field in form %}
		<div class="formulario__grupo mt-3 focus fixed mb-5">
			<div class="formulario__grupo-label d-flex">
				<label for="referencia" class="formulario__label">
					<span class="formulario__span">{{ field.label_tag }}</span>
					<div class="formulario__grupo-input">
						{{field}}
						<i class="fas formulario__i"></i>
					</div>
				</label>
			</div>
			<p class="formulario__p text-muted mb-0">Por favor, asegurese de introducir el campo correctamente</p>
		</div>
        {% endfor %}
    </form>
</div>

{% block deleteComponente %}
{% endblock %}


<!--  NAVEGACIÓN FOOTER -->
<nav class="p-2 px-4 mt-5 navbar-light bg-light fixed-bottom z-2 m-footer">
	<div class="row justify-content-between">
		<div class="d-flex">
			<div class="form-inline ml-auto">
				<button type="submit" form="updateComponente" value="Update" class="btn boton-nav btn-primary m-2">Guardar
				</button>
			</div>
			<div class="form-inline ml-auto">
				<button type="button" class="btn boton-nav btn-danger m-2" data-toggle="modal"
					data-target="#delete-modal"
					onclick="location.href='http://127.0.0.1:8000/appEntrega/componente/{{componente.pk}}/delete/'">Eliminar
				</button>
			</div>
		</div>
		<div class="form-inline ml-auto">
			<button onclick="location.href='http://127.0.0.1:8000/appEntrega/componentes'"
				class="btn boton-nav btn-secondary m-2" type="button">Volver</button>
		</div>
	</div>
</nav>

{% endblock %}